[package]
name = "starknet-types-core"
version = "0.0.8"
edition = "2021"
license = "MIT"
homepage = "https://github.com/starknet-io/types-rs"
repository = "https://github.com/starknet-io/types-rs"
categories = ["types", "math", "crypto"]
keywords = ["stark", "zkp", "cairo"]
description = "Core types representation for Starknet"
readme = "README.md"

[dependencies]
bitvec = { version = "1.0.1", default-features = false }
lambdaworks-math = { version = "0.5.0", default-features = false}

num-traits = { version = "0.2.16", default-features = false }
num-bigint = { version = "0.4.4",  default-features = false }
num-integer = { version = "0.1.45",  default-features = false }
lazy_static = { version = "1.4.0", default-features = false, features = [
    "spin_no_std",
] }

# Optional
arbitrary = { version = "1.3.0", optional = true }
serde = { version = "1.0.163", optional = true, default-features = false, features = ["alloc"] }
lambdaworks-crypto = { version = "0.5.0", default-features = false, optional = true }
parity-scale-codec = { version = "3.2.2", default-features = false, optional = true }

[features]
default = ["std", "serde", "curve", "num-traits"]
std = [
  "bitvec/std",
  "lambdaworks-math/std",
  "num-traits/std",
  "num-bigint/std",
  "num-integer/std",
  "serde?/std",
  "lambdaworks-crypto?/std",
]
alloc = []
curve = []
hash = ["dep:lambdaworks-crypto"]
arbitrary = ["std", "dep:arbitrary"]
parity-scale-codec = ["dep:parity-scale-codec"]
serde = ["alloc", "dep:serde"]
num-traits = []
papyrus-serialization = []

[dev-dependencies]
proptest = "1.1.0"
regex = "1.10.3"
serde_test = "1.0.1"
