on:
  push:
    branches:
      - "main"
  pull_request:

name: "Build feature combinations"

jobs:
  feature-powerset:
    name: "Build ${{ matrix.package }} features"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        package:
          - "starknet-types-core"

    steps:
      - uses: actions/checkout@v5
      - name: Install toolchain
        run: rustup show

      - name: "Install cargo-hack"
        run: |
          cargo install --locked cargo-hack

      - name: "Build all feature combinations"
        run: |
          cargo hack build --package ${{ matrix.package }} --feature-powerset
