# just for manual publishing
on: workflow_dispatch

name: Publish

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install toolchain
        run: rustup show

      - run: cargo publish --token "$CARGO_REGISTRY_TOKEN" -p starknet-types-core
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
