name: Typo Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master
